BOT_TOKEN=
SESSION_STRING=
API_ID=
API_HASH=
CUSTOM_API_KEY=
LOG_CHANNEL_ID=
OWNER_ID=
OWNER_USERNAME=@i_am_alive_as_fumk
CHANNEL_USERNAME=@alpha_dead4

MONGO_DB_URI=mongodb+srv://musicbot_user:1016alpha@musicbotcluster.c06tou8.mongodb.net/?retryWrites=true&w=majority&appName=MusicBotCluster
